@import url("https://use.typekit.net/jpw8nms.css");
/* med screens */
@media (max-width: 991.98px) {
	#cover-img {max-width: 65vh !important;}
	nav {height:50vh;width:400px !important;}
	#site-logo {height: 25vh !important;}
}
@media (max-width: 575.98px) {
	#cover-img {max-height: 45vh !important;}
}
/*small screens*/
@media (min-width: 768px) {
	nav.issue-nav {font-size:3rem !important;}
	}
}

/* full screens / main */
body {
	font-family: forma-djr-micro, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-weight: 300;
}
h1 {
	font-family: beastly,sans-serif;
	font-weight: 100;
	font-style: normal;
}

h3 {
	font-family: abril-display, serif;
	font-weight: 900;
	font-style: italic;
}

nav {
	position:fixed;
	top:0;
	right:0;
	height:50%;
	background-color:#fff;
	width:600px;
	padding-left: 50px;
	z-index:100;
}
#site-logo {
	float:right;
	display:block;
	width: auto;
	height: 33vh;
	max-width: initial;
	min-height:150px;
	position:relative;
	right:-2px;
	transition:height .2s;

}
#cover-img {
	position:fixed;
	bottom:-100px;
	left:-100px;
	max-height:100vh;
	max-width: calc(80vw - 200px);
	min-width: 300px;
	transition:all .2s;
	z-index:200;
}

nav ul {float:right;clear:both;padding:25px;font-size: 1.25rem;text-align: right;}
ul {list-style-type: none;padding:0px;}

a{color:#000;}
a:hover,a:focus,a:active {color:#5f9e44;text-decoration: none}
p a {color:#5f9e44;}

.this-page {font-weight: bold}

section.main{width:100%;padding:25px;position:absolute;top:50%;}

/* ISSUES */

nav.issue-nav {
	position: absolute;
	right:0;
	top:0;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2rem;
    height:auto !important;
    width:auto !important;
    background-color: none;
    padding: 10px;
    z-index: 100;
}

section.issue-reader p {position:relative;margin-top:50px;padding:25px;}

section.issue-reader iframe {display:block;margin-top:55px;width:100%;height:100vh}

.mobile-disclaimer {display: none;z-index: 200}
/*small screen 2
@media (max-width: 767.98px) {
	.mobile-disclaimer {display: block}
	section.issue-reader iframe {margin-top: 0px}
	}
}*/

/*large screens*/
@media (max-width: 1199.98px) {
	}
}





